*:focus {
  -webkit-tab-hightlight-color: transparent;
}

:root {
  --color-black-think: #162f43;
  --color-black-lighter: #3c3d3d;
  --box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
  --color-white: #ffff;
  --primary-color: #ff922b;
}
input,
textarea,
div,
button,
section:focus {
  -webkit-tab-hightlight-color: transparent;
}

.foodList {
  width: 22.7%;
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}
.foodList img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.foodList h3 {
  color: var(--color-black-lighter);
  font-size: 0.9375rem;
  font-weight: 400;
}
.foodList:focus {
  -webkit-tab-highlight-color: transparent;
}
.price {
  color: rgb(151, 2, 2);
}
.foodList:hover {
  border: none;
  box-shadow: var(--box-shadow);
  transition: 0.5s ease;
}

@media (max-width: 990px) {
  .foodList {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .foodList {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .foodList {
    width: 100%;
  }
}
