.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.searchRecipeContent {
  width: 90%;
  margin: 70px auto;
  padding: 30px 50px;
}
.searchRecipeContent h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}
.item {
  font-size: 18px;
  color: #252525;
  text-align: center;
}
.searchRecipe {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
  margin-top: 30px;
}
.recipe {
  width: 30%;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  margin-top: 20px;
  text-decoration: none;
}
.searchRecipe .recipe img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.5s ease;
}
.searchRecipe p {
  color: #101010;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-top: 10px;
}
.searchRecipe h4 {
  font-size: 1.1rem;
  color: #101010;
}
.searchRecipe .recipe img:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .searchRecipeContent {
    width: 100%;
    margin: 50px auto;
    padding: 30px 20px;
  }
  .searchRecipe .recipe img {
    width: 100%;
    height: auto;
  }
  .recipe {
    width: 100%;
  }
}
